/* your code */

table {
	width : 500px;
	text-align : center;
	border : 2px solid;
	
	border-collapse:collapse;
}

th{
	height: 30px;
}
thead tr {
	background-color :  gray;
	color : white;
	border-radius : 2px;
}
td{
	align-items : center;
}
tr:nth-child(even){
	background-color: wheat;
	
}
tbody td{
	align-items: center;
	//background-color: wheat;
	
}